*-blx.bib
*.xml
*.gz
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.idx
*.synctex*
*.ind
*.glo
*.fls
*.fdb_latexmk
*.snm
*.nav
*.vrb
*.xwm
**/.env

data

*.ckpt
*.pt
**/logs
**/*logs
**/raw

**/BioBricks/fine_tuned_description_model
